<!-- adding images from cloudinary and writing ruby make sure that if a
user does not upload an image then don't let them create a cocktail. cl image tag is the tag used in combination with cloudinary to display an image  -->
<div class="text-center">
      <div>
        <h1><%= @cocktail.name %></h1>
      </div>
     <div class="row justify-content-center">
        <div class="col-8 col-md-8 col-sm-6 p-3" id="show-cocktail-img">
          <div class="card m-3">
          <% if @cocktail.photo.present? %>
            <%=cl_image_tag @cocktail.photo, class: 'test' %>
          <% end %>
        </div>
        </div>

        <div class="col-14 col-md-4 col-sm-6 p-3">
          <p id="notice"><%= notice %></p>
          <h3> What's in this cocktail?</h3>
          <strong>Ingredients:</strong>
          <% @cocktail.doses.each do |dose|%>

            <div class="p-3">
              <%= dose.ingredient.name%>:
              <%= dose.description %>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash destroy_dose"></i>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>



        <div class="flex-box">
            <!-- <ul id="show-page-ul"> -->
              <li><%= link_to 'Add a shot', new_cocktail_dose_path(@cocktail),class: 'index-button' %></li>
              <li><%=link_to 'edit cocktail', edit_cocktail_path, class: 'index-button'%></li>
              <li><%= link_to 'Go back to cocktails list', cocktails_path,class: 'index-button'  %></li>
            <!-- /ul> -->
          </div>
    </div>
  </div>















