<p id="notice"><%= notice %></p>
<h1><%= @cocktail.name %></h1>
<h3>Recipe for the Cocktail</h3>

<p>
  <strong>Dose Amount</strong>
  <%= @cocktail.doses %>
</p>

<p>
  <strong>Ingredients/strong>
  <%= @cocktail.ingredients %>
</p>

<%= link_to 'Go back to cocktails list', cocktails_path  %>















