<p id="notice"><%= notice %></p>
<h1><%= @cocktail.name %></h1>
<h3>Recipe for the Cocktail</h3>

<strong>Ingredients</strong>
<% @cocktail.doses.each do |dose|%>
  <div>
    <%= dose.description %>
    <%= dose.ingredient.name %>
  </div>
<% end %>

<%= link_to 'Go back to cocktails list', cocktails_path  %>















